<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="Code.UI"
    android:versionCode="5"
    android:versionName="5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/e06"
        android:label="@string/app_name"
        android:theme="@android:style/Theme" >
        <activity android:name="AddActivity"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation|keyboardHidden"
            >
        </activity>
     <activity android:name="AreaAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation|keyboardHidden"></activity>
         <activity android:name="UserLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation|keyboardHidden"></activity>
         <activity android:name="AddOutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation|keyboardHidden"></activity>
          <activity android:name="UploadMenuActivity"
            android:screenOrientation="portrait"></activity>
              <activity android:name="AddOutWorkNumberActivity"
            android:screenOrientation="portrait"
             android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation|keyboardHidden"></activity>
          <activity android:name="SettingActivity"
            android:screenOrientation="portrait"></activity>
          <activity android:name="InCheckActivity"
            android:screenOrientation="portrait"></activity>
           <activity android:name="OutCheckActivity"
            android:screenOrientation="portrait"></activity>
         <activity android:name="menuActivity"
            android:screenOrientation="portrait"
           ></activity>
          <activity android:name="UploadActivity"
              android:screenOrientation="portrait"></activity>
             <activity android:name="OutUploadActivity"
              android:screenOrientation="portrait"></activity>
           <activity android:name="CheckMenuActivity"
              android:screenOrientation="portrait"></activity>
             <activity android:name="loginActivity"
               android:screenOrientation="portrait"></activity>
           <activity android:name="SplashActivity"
               android:screenOrientation="portrait">
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          </activity>
    </application>

</manifest>